nav img {
    height: 3rem;
    border-radius: 10%;
}

.app {
    min-height: 90vh;
}

.card-img-top {
    height: 40vh;
}

.row {
    height: fit-content;
}

.card {
    height: 100%;
}

.text-center {
    margin-top: 8%;
}

#mobile-search {
    margin-top: 10%;
    display: none !important;
    padding: 0 5%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2%;
}

@media only screen and (max-width:1000px) {
    .text-center {
        font-size: medium;
        margin-top: 3%;
    }

    #desktop-search {
        display: none !important;
    }

    #mobile-search {
        display: flex !important;
    }
}

@media only screen and (max-width:750px) {
    .card-body p {
        font-size: small;
    }

    .card-body h5 {
        font-size: small;
    }

    #mobile-search {
        margin-top: 15%;
    }
}

@media only screen and (max-width:550px) {
    #mobile-search {
        margin-top: 20%;
    }
}

@media only screen and (max-width:400px) {
    #mobile-search {
        margin-top: 25%;
    }
}